DATABASE_URL="postgresql://postgres.kicvprluvcwgaiguzybi:<YOUR-PASSWORD>@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.kicvprluvcwgaiguzybi:<YOUR-PASSWORD>@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"
NEXTAUTH_URL="http://localhost/roomie"
NEXT_PUBLIC_BASE_PATH="/roomie"
ROOMIE_ACCESS_CODE="<CHANGE-ME>"
ROOMIE_AUTH_SECRET="<LONG-RANDOM-SECRET>"
